[[source]]
url = "https://pypi.python.org/simple/"
verify_ssl = true
name = "pip_conf_index_:env:"

[packages]
python-dotenv = {version = "*", index = "pip_conf_index_:env:"}
requests = "*"
bcrypt = "*"
flask = {version = "*", index = "pip_conf_index_:env:"}
sqlalchemy = {version = "*", index = "pip_conf_index_:env:"}

[dev-packages]

[requires]
python_version = "3.8"
