.App {
  text-align: center;
  background-color: lightslategray;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  background-color: lightslategrey;
}

.grid { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: center;
  }
.grid > article {
  border: 1px solid #ccc;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.grid > article img {
  max-width: 100%;
}
.text {
  padding: 0 20px 20px;
}
.text > button {
  background: gray;
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
  }
.card {
  background-color: rgb(169, 187, 206);
  padding-bottom: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  border-radius: 1px;
  user-select: none;
  
}
.card:hover {
  background-color: rgb(208, 219, 232);
  box-shadow: rgba(255, 255, 255, 0.324) 0px 50px 100px -20px, rgba(255, 255, 255, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;  margin-left: 20px;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: flex; 
  align-items: center;
  height: 60px; 
}

.navitem {
  float: right;
  flex: 1;
  text-align: center;
  min-height: 41px;
  /* flex-shrink: 0; */
  position: relative;
}

.navitem::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: calc(100% + 20px); 
  background-color: #111;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s;
}

.navitem:hover::before {
  opacity: 1; 
}
:root {
  --sitelogo-margin-right: 30%; 
}

.sitelogo {
  float: left;
  display: block;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: yellow;
  font-size: 45px;
  margin-right: var(--sitelogo-margin-right);
  flex-shrink: 0;
  /* margin-top: -7px; */

}

.siteImg {
  flex-shrink: 0;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  /* height: 41px; */
}

.commands{
  columns: 6rem auto;
  columns: 2;
  display: flex;
}

.column-short{
  flex: 1;
  background-color: rgb(169, 187, 206);
  /* width: calc(50% - 10px); */
  margin-left: 5px;
  margin-right: 5px;
  outline-style: outset;
  break-inside: avoid-column;  
}

.column-long{
  flex: 2;
  background-color: rgb(169, 187, 206);
  margin-left: 5px;
  margin-right: 5px;
  outline-style: outset;
  /* width: calc(100% - 50% - 10px); */
}

.column-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-top: 1px solid #ccc;
  margin: 5px;
  text-align: center; 
}

.column-heading {
  margin: 10px 0; 
  font-weight: bold;
  list-style: none;
}

.server-commands {
  margin: 20px;
  padding: 15px;
  background-color: rgb(169, 187, 206);
  padding-bottom: 35px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;  margin-top: 10px;
  border-radius: 1px;
  user-select: none;
}